.jkeyboard {
    display: inline-block;
  }
  .jkeyboard, .jkeyboard .jline, .jkeyboard .jline ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  .jkeyboard .jline {
    text-align: center;
    margin-left: -14px;
  }
  .jkeyboard .jline ul li {
    font-family: arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #468db3;
    -webkit-box-shadow: 0 0 3px #468db3;
    -webkit-box-shadow: inset 0 0 3px #468db3;
    margin: 10px 0 1px 14px;
    color: #f7faf7;
    border-radius: 5px;
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    text-align: center;
    line-height: 52px;
    overflow: hidden;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    background-color: #21618C;
  }
  .jkeyboard .jline ul li.uppercase {
    text-transform: uppercase;
  }
  .jkeyboard .jline ul li:hover, .jkeyboard .jline ul li:active {
    background-color: #3498db;
    color: black;
  }
  .jkeyboard .jline .return {
    width: 120px;
  }
  .jkeyboard .jline .space {
    width: 456px;
  }
  .jkeyboard .jline .numeric_switch {
    width: 84px;
  }
  .jkeyboard .jline .layout_switch {
    background: url("../assets/locale.png") no-repeat center right;
  }
  .jkeyboard .jline .shift {
    width: 100px;
    background: url("../assets/shift.png") no-repeat center center;
  }
  .jkeyboard .jline .shift.active {
    border-color: #fff;
  }
  .jkeyboard .jline .shift.lock {
    transform: rotate(180deg);
  }
  .jkeyboard .jline .backspace {
    width: 69px;
    background: url("../assets/backspace.png") no-repeat center center;
    background-color: #21618C;
  }

  #keyboard, #keyboard2, #keyboard3 {
      position: absolute;
      z-index: 1000;
      width: 30%;
      margin: auto;
      margin-left: 35%;
      background-color: #fff;
      border-radius: 20px;
      
  }

  #keyboard {
    top: 19%;
  }
  
  