#static-modal {
	display: none;
}

.modal-dialog {
	margin-top: 80% !important;
}


.fade:not(.show) {
	opacity: .8 !important;
}




.submit-btn {
	background-color: #6ce3ff !important;
}

.cancel-btn {
	background-color: #D6DBDF !important;
}