@charset "UTF-8";
@import url("VisbyCF_Regular/stylesheet.css");
@import url("VisbyCF_DemiBold/stylesheet.css");
@import url("VisbyCF_Bold/stylesheet.css");

html {
	margin: 0;
	height: 100%;
	overflow: hidden;
	scroll-behavior: smooth;
	touch-action: none;
	user-select: none;
	cursor: none;
}

#header {
}
#LandingPageHeader {
	font-family: "VisbyCF Bold";
	font-style: normal;
	font-weight: 400;
	box-shadow: none;
	text-align: center;
	font-size: 42px;
	color: whitesmoke;
}

#selectionText {
	display: none;
	margin: auto;
	width: 692px;
	height: 52px;
	font-family: "Open Sans";
	font-size: 38px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 5.23px;
	text-align: center;
	color: #000000;
	transition: opacity 0.5s ease-in-out;
}

#stepText {
	display: none;
	margin: auto;
	width: 692px;
	height: 52px;
	font-family: "Open Sans";
	font-size: 38px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 5.23px;
	text-align: center;
	color: #bfbfbf;
	transition: opacity 0.5s ease-in-out;
}

#hookText {
	display: inline-block;
	font-family: "VisbyCF Bold";
	font-style: normal;
	font-weight: 400;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	text-align: center;
	font-size: 50px;
	color: whitesmoke;
	width: 100%;
	height: auto;
	margin: auto;
	opacity: 1;
	webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}

#priceText {
	width: 660px;
	font-family: "Open Sans";
	font-style: extra-bold;
	font-weight: 800;
	letter-spacing: 4.4px;
	position: absolute;
	height: 120px;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	text-align: center;
	font-size: 32px;
	color: black;
	opacity: 0;
	webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
}

#dropLogo {
	text-align: center;
	width: 55%;
	height: auto;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 7;
}

#startOrderButton {
	background-image: url("Icons/StartButton.png");
	background-position: center;
	background-color: #ffffff;
	font-family: "Open Sans", sans-serif;
	outline: none;
	font-style: normal;
	font-weight: 600;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	width: 370px;
	height: 370px;
	border: none;
	font-size: 36px;
	color: #dedede;
	padding-top: 0px;
	border-radius: 50%;
	position: fixed;
	display: flex;
	left: 50%;
	transform: translate(-50%, 400px);
	z-index: 7;
	bottom: 40%;
}

#dispenseDrinkButton {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	outline: none;
	border: none;
	border-color: white;
	display: none;
	position: absolute;
	left: 200px;
	bottom: 111px;
	width: 227px;
	height: 227px;
	box-shadow: 1px 10px 60px 2px #5dcce6;
	background-color: #ffffff;
	font-size: 28px;
	color: #dedede;
	border-radius: 50%;
	z-index: 7;
}

#endDispenseButton {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	outline: none;
	border: none;
	border-color: white;
	display: none;
	position: absolute;
	right: 200px;
	bottom: 111px;
	width: 227px;
	height: 227px;
	box-shadow: 1px 10px 60px 2px #5dcce6;
	background-color: #ffffff;
	font-size: 28px;
	color: #dedede;
	border-radius: 50%;
	z-index: 7;
}

#testMakeDrinkbutton {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	outline: none;
	border: none;
	border-color: white;
	display: none;
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 227px;
	height: 227px;
	box-shadow: 1px 10px 60px 2px #5dcce6;
	background-color: #ffffff;
	font-size: 28px;
	color: #dedede;
	border-radius: 50%;
	z-index: 7;
}

#cancelButton {
	background-color: whitesmoke;
	font-family: "VisbyCF DemiBold";
	font-style: normal;
	font-weight: 400;
	margin: auto;
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 150px;
	height: 150px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-size: 22pt;
	color: navy;
	border-radius: 50%;
}

#selection1 {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	outline: none;
	width: 100%;
	height: 250px;
	max-width: 200px;
	background-position: center;
	background-color: white;
	box-shadow: 1px 10px 60px 0 #e5e5e5;
	border-color: white;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 90%;
	border-radius: 45px;
}

#selection2 {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	outline: none;
	width: 100%;
	max-width: 200px;
	height: 250px;
	background-position: center;
	text-align: center;
	background-color: white;
	box-shadow: 1px 10px 60px 0 #e5e5e5;
	border-color: white;
	background-repeat: no-repeat;
	background-size: 90%;
	border-radius: 45px;
}

#selection3 {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	outline: none;
	max-width: 200px;
	width: 100%;
	height: 250px;
	background-position: center;
	text-align: center;
	box-shadow: 1px 10px 60px 0 #e5e5e5;
	background-color: white;
	border-color: white;
	background-repeat: no-repeat;
	background-size: 90%;
	border-radius: 45px;
}

#selection4 {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: none;
	outline: none;
	width: 100%;
	max-width: 200px;
	height: 250px;
	background-position: center;
	text-align: center;
	background-color: white;
	box-shadow: 1px 10px 60px 0 #e5e5e5;
	border-color: white;
	background-repeat: no-repeat;
	background-size: 90%;
	border-radius: 45px;
}

#startupOverlay {
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-image: url("images/Drop-Mini-Background.png");
	z-index: 10;
}

#startupHeader {
	position: absolute;
	top: 413px;
	left: 194px;
	width: 692px;
	height: 55px;
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 4px;
	text-align: center;
	color: #575757;
}

#startupText {
	position: absolute;
	top: 550px;
	left: 194px;
	width: 692px;
	height: 57px;
	opacity: 0.8;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 5.25px;
	text-align: left;
	color: #575757;
}

#overlayBackground {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#BackButton {
	background-image: url("Icons/Back-Button.png");
	position: absolute;
	width: 150px;
	height: 150px;
	left: 60px;
	bottom: 60px;
	opacity: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150px;
	z-index: 7;
	background-color: white;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	border: none;
	outline: none;
	border-radius: 50%;
}


#learnMoreButton {
	position: absolute;
	width: 50%;
	height: 150px;
	/* left: 60px; */
	bottom: 0px;
	opacity: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150px;
	z-index: 8;
	background-color: white;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	border: none;
	outline: none;
}

#justWaterButton {
	position: absolute;
	width: 50%;
	height: 150px;
	left: 50%;
	bottom: 0px;
	opacity: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150px;
	z-index: 8;
	background-color: white;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	border: none;
	outline: none;
}



#justWaterBackground {
	background-image: url("Icons/learn-more.png");
	position: absolute;
	width: 100%;
	height: 200px;
	/* left: 50%; */
	bottom: 0px;
	opacity: 1;
	background-position: center;
	background-repeat: no-repeat;
	/* background-size: 150px; */
	z-index: 7;
	background-color: white;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	border: none;
	outline: none;
}

.closeCarousel {
	/* background-image: url("images/close-carousel.png"); */
	background-image: url("Icons/Select-Button-No-Shadow.png");
	position: absolute;
	width: 150px;
	height: 150px;
	right: 60px;
	bottom: 60px;
	opacity: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150px;
	z-index: 7;
	background-color: #6ce3ff;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	border: none;
	outline: none;
	border-radius: 50%;
	display: none;
}


#SelectButton {
	background-image: url("Icons/Select-Button-No-Shadow.png");
	position: absolute;
	width: 150px;
	height: 150px;
	right: 60px;
	bottom: 60px;
	opacity: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 150px;
	z-index: 7;
	background-color: #6ce3ff;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	border: none;
	outline: none;
	border-radius: 50%;
}

#foregroundVideo {
	display: block;
	position: fixed;
	margin: auto;
	width: 800px;
	height: 800px;
	object-fit: contain;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: opacity 1.25s ease-in-out;
}

#videoDiv {
	z-index: 6;
}

#backgroundVideo {
	display: block;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	object-fit: none;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: -5px;
}

#backgroundImage {
	position: fixed;
	right: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
	opacity: 0;
	webkit-transition: opacity 1.25s ease-in-out;
	-moz-transition: opacity 1.25s ease-in-out;
	-o-transition: opacity 1.25s ease-in-out;
	transition: opacity 1.25s ease-in-out;
}

#dropBottle {
	display: block;
	text-align: center;
	width: 700px;
	height: auto;
	margin: auto;
}
#dropBottleContainer {
	display: block;
	width: 700px;
	height: auto;
	margin: auto;
	transition: all .25s ease;
}

#bottleArea {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
	position: relative;
}

#nutritionfactsHeader {
	width: 228px;
	display: block;
	margin: auto;
	font-family: "Open Sans";
	font-size: 22px;
	font-weight: 800;
	letter-spacing: 1.79px;
	color: #000000;
}

#ingredients {
	width: 228px;
	display: block;
	margin: auto;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 300;
}

#nutritionalFactsImage {
	width: 228px;
	display: block;
	margin: auto;
}

#nutritionFactsContainer {
	vertical-align: top;
	display: none;
	position: absolute;
	top: 0;
	right: 200px;
	width: 228px;
	transition: all .25s ease;
}

#orderTable {
	display: block;
	text-align: center;
	width: 80%;
	height: auto;
	color: whitesmoke;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	font-family: "VisbyCF Bold";
	font-style: normal;
	font-weight: 400;
}

#orderTableArea {
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}

#startOrderButtonArea {
	width: 370px;
	height: 370px;
	position: fixed;
	box-shadow: 1px 10px 30px 2px rgba(229, 229, 229, 0.6);
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 7;
}

#orderFlavorIcon {
	content: url("Icons/Additive-Icons/water-drop-mini.png");
	opacity: 0;
	height: auto;
	width: 65%;
	webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#orderSupplement {
	content: url("Icons/Additive-Icons/water-drop-mini.png");
	width: 250px;
	height: 250px;
	object-fit: contain;
	display: none;
	margin: auto;
	transform: translateY(-450px);
	transition: opacity 0.5s ease-in-out;
}

#orderTemperatureIcon {
	content: url("Icons/Temperature-Icons/temperature1-drop-mini.png");
	opacity: 0;
	height: auto;
	width: 65%;
	margin: auto;
	webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
#selection1Price {
	display: none;
	webkit-transition: display 0.5s ease-in-out;
	-moz-transition: display 0.5s ease-in-out;
	-o-transition: display 0.5s ease-in-out;
	transition: display 0.5s ease-in-out;
}
#selection2Price {
	display: none;
	webkit-transition: display 0.5s ease-in-out;
	-moz-transition: display 0.5s ease-in-out;
	-o-transition: display 0.5s ease-in-out;
	transition: display 0.5s ease-in-out;
}
#selection3Price {
	display: none;
	webkit-transition: display 0.5s ease-in-out;
	-moz-transition: display 0.5s ease-in-out;
	-o-transition: display 0.5s ease-in-out;
	transition: display 0.5s ease-in-out;
}
#selection4Price {
	display: none;
	webkit-transition: display 0.5s ease-in-out;
	-moz-transition: display 0.5s ease-in-out;
	-o-transition: display 0.5s ease-in-out;
	transition: display 0.5s ease-in-out;
}

#refillDispenseInfo {
	position: absolute;
	bottom: 0px;
	display: none;
	z-index: 8;
}

#pricePerOunceLabel {
	position: absolute;
	left: 150px;
	bottom: 417px;
	width: 200px;
	height: 72px;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2.17px;
	text-align: center;
	color: #ffffff;
}

#ouncesDispensedLabel {
	position: absolute;
	left: 440px;
	bottom: 417px;
	width: 200px;
	height: 72px;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2.17px;
	text-align: center;
	color: #ffffff;
}

#runningPriceLabel {
	position: absolute;
	left: 730px;
	bottom: 417px;
	width: 200px;
	height: 72px;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2.17px;
	text-align: center;
	color: #ffffff;
}

#transactionFeeLabel {
	display: none;
	position: absolute;
	left: 175px;
	bottom: 50px;
	width: 797px;
	height: 108px;
	opacity: 0.6;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.25;
	letter-spacing: 0.4px;
	text-align: center;
	color: #000000;
}

#overlayMessage {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 810px;
	height: 796px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 50px;
	box-shadow: 1px 10px 60px 0 #e5e5e5;
	background-color: #ffffff;
	z-index: 7;
}

#overlayImage {
	display: block;
	margin: auto;
	height: 250px;
	width: 250px;
	margin-top: 140px;
	object-fit: contain;
}

#overlayTitle {
	opacity: 0.6;
	font-family: "Open Sans";
	font-size: 39px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	text-align: center;
	color: #000000;
	padding-top: 110px;
}

#overlayDescription {
	display: block;
	margin: auto;
	width: 445px;
	opacity: 0.6;
	font-family: "Open Sans";
	font-size: 27px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 2;
	letter-spacing: 0.45px;
	text-align: center;
	color: #000000;
	padding-top: 14px;
}

#waterBlobGraphic {
	display: block;
	position: absolute;
	width: 1080px;
	top: 0;
}

#pourGraphic {
	display: block;
	position: absolute;
	width: 129px;
	left: 475px;
	top: 0;
	opacity: 0;
	transition: All 0.5s;
	transform-origin: top;
}

#waveGraphic {
	position: absolute;
	width: 1080px;
	bottom: 0;
}

#rippleGraphic {
	width: 1080px;
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition: All 1s;
}

#waterFillingArea {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0;
	opacity: 0;
	height: 1920px;
	width: 1080px;
	transition: All 1s;
}

#bottleMakingArea {
	display: none;
	opacity: 0;
	position: absolute;
	background-color: white;
	left: 120px;
	top: 325px;
	width: 840px;
	height: 840px;
	box-shadow: 1px 20px 100px 40px #cff6ff;
	border-radius: 50%;
	transition: All 1s;
}
#drinkProcessingArea {
	background-color: white;
	display: none;
	opacity: 0;
	position: absolute;
	background-color: white;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	transition: All 0.5s;
}

#bottleMakingBottleIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 700px;
	width: 700px;
	transform: translate(-50%, -50%);
	transition: All 1s;
}

#bottleMakingFlavorIcon {
	position: absolute;
	top: 236px;
	left: 320px;
	height: 200px;
	width: 200px;
	transition: All 0.5s;
}

#bottleMakingSupplementIcon {
	position: absolute;
	top: 420px;
	left: 320px;
	height: 200px;
	width: 200px;
	transition: All 0.5s;
}

#thankYouText {
	position: fixed;
	left: 194px;
	bottom: 313px;
	width: 693px;
	height: 53px;
	font-family: "Open Sans";
	font-size: 39px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 5.37px;
	text-align: center;
	color: #5fd4e0;
	transition: opacity 0.5s ease-in-out;
}

#enjoyText {
	position: fixed;
	left: 194px;
	bottom: 246px;
	width: 693px;
	height: 53px;
	font-family: "Open Sans";
	font-size: 39px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 5.37px;
	text-align: center;
	color: #6ce3ff;
	transition: opacity 0.5s ease-in-out;
}

.growWaterfall {
	opacity: 1 !important;
}
.addWaterRipples {
	opacity: 1 !important;
}
.spin {
	transform: rotate(1080deg) !important;
}

.buttonDescription {
	position: absolute;
	left: 0;
	right: 0;
	top: 168px;
	display: block;
	margin: auto;
	opacity: 0.6;
	left: 0px;
	right: 0px;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.5px;
	text-align: center;
	color: #000000;
}

.buttonImage {
	display: block !important;
	position: absolute !important;
	left: 30px !important;
	right: 30px !important;
	top: 14px !important;
	margin: auto !important;
	width: 140px !important;
	height: 140px !important;
	object-fit: contain !important;
}

.buttonPrice {
	display: block;
	margin: auto;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 196px;
	opacity: 0.6;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.5px;
	text-align: center;
	color: #000000;
}

.largeButtonDescription {
	position: absolute;
	top: 432px;
	right: 50px;
	left: 50px;
	width: 280px;
	height: 48px;
}

.largeButtonImage {
	display: block !important;
	margin: auto !important;
	position: absolute !important;
	top: 120px !important;
	left: 65px !important;
	right: 65px !important;
	width: 250px !important;
	height: 250px !important;
	object-fit: contain !important;
}

.orderTableCell {
	text-align: center;
	width: 25%;
	height: auto;
	margin: auto;
	display: table-cell;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url("Icons/drop-mini-white-circle.png");
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}

.LandingPage {
	width: 100%;
	text-align: center;
}

.SelectionTable {
	width: 100%;
	position: absolute;
	bottom: 279px;
	text-align: center;
}

.ButtonContainer {
	display: table;
	width: 100%;
	text-align: center;
	background-position: 0% 0%;
	border-radius: 2px;
	border-collapse: collapse;
	border-color: white;
	border: 1px white;
}

.ButtonContainer button {
	display: table-cell;
	border-spacing: 10px;
}

.ButtonContainer td {
	width: auto;
	height: auto;
	text-align: center;
	color: white;
	display: table-cell;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 10px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 36px;
	color: white;
}

.ButtonPrice {
	display: none;
}

.disableSelect {
	user-select: none; /*Used to stop properties from showing on long hold*/
}

.clickDown {
	background-color: #bababa;
	box-shadow: inset 0px 0px 20px #8e8e8e !important;
	outline: none;
}
.clickUp {
	background: #ffffff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.disabled {
	pointer-events: none;
}

.handicapHighlighted {
	border-style: solid !important;
	border-color: yellow !important;
	border-width: thick !important;
}

.makeButtonTransparent {
	opacity: 0.6 !important;
}

.buttonSelected {
	box-shadow: 1px 10px 60px 0 #6ce3ff !important;
}

.transformFlavorBottle {
	transform: translate(-25%, 0);
}

.transformPriceText {
	bottom: 142px !important;
}

.transformTable {
	transform: translateY(400px);
}

.transformStartButton {
	transform: translateY(350px);
}

.transformSelectionTable {
	transform: translateY(-500px);
}
.wrapper {
	z-index: 7;
}


#learnMoreCarousel {
	background-color: white;
	display: none;
	opacity: 1;
	position: absolute;
	background-color: white;
	/* left: 0px; */
	top: 0px;
	text-align: center;
	width: 100% !important;
	height: 100%;
	transition: All 0.5s;
}

.learn_more {
	width: 80%;
	/* height: 60%; */
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%

}

.slick-dots {
	bottom: 15% !important;
	font-size: 10px;
}

.slick-track {
	height: 100%;
}

.learnMoreHeader {
	margin-top: 20%;
	font-family: "Open Sans";
	font-size: 54px;
	line-height: normal;
	letter-spacing: 0.91px;
	font-weight: 300;
	opacity: 0.6;
	margin-left: 5%;
	margin-right: 5%;
}

.learnMoreContent {
	font-family: "Open Sans";
	font-size: 27px;
	font-weight: 300;
	line-height: 2;
	letter-spacing: 0.45px;
	color: #000000;
	opacity: 0.6;
	margin-left: 5%;
	margin-right: 5%;
}

.slick-dots li.slick-active button:before {
	/* color: #6ce3ff !important; */
	color: #0089A7 !important;
	
}

.slick-dots li button:before {
	/* color: rgba(108, 227, 255, 0.2) !important; */
	color: #00CEFC !important;
	font-size: 10px !important;
}

.slick-list {
	height: 100%;
}

#static-modal {
	display: none;
}

.modal-dialog {
	margin-top: 80% !important;
}


.fade:not(.show) {
	opacity: .8 !important;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


.submit-btn {
	background-color: #6ce3ff !important;
}

.cancel-btn {
	background-color: #D6DBDF !important;
}



/* QRCODE and contactless info */
#start-screen-contactless, #screensaver-contactless {
	width: 60%;
	height: 100px;
	
	margin-top: 50%;
	z-index: 9;
	position: absolute;
	margin-left: 25%;
}

#screensaver-contactless {
	bottom: 150px;
	margin-left: 60%;
} 

#start-screen-contactless {
	bottom: 240px; 
}


#start-screen-contactless-txt, #screensaver-contactless-txt {
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1.5px;
	color: #575757;
	/* width: 50%; */
	/* float: right; */
}

#start-screen-contactless-txt {
	word-wrap: break-word;
	margin-top: 1.5%;
	text-align: justify;
}

#screensaver-contactless-txt {
	font-weight: 700;
	color: black;
	margin-top: 5%;
	text-align: justify;

}

#start-screen-contactless-qr-code, #screensaver-contactless-qr-code {
	width: 20%;
	margin-right: 2%;
	float: left;
	/* height: 100%; */

}



.modal-header {
	display: inline-block !important;
}

/* #screensaver-contactless-qr-code {
	width: 10%;
	margin-right: 5px;
} */

/* #screensaver-contactless-txt {
	width: 20%;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 900;
	color: black;
} */
/*/ QRCODE and contactless info */


